*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background:rgba(0, 180, 202, 1);
}

::selection {
    color: #fff;
    background:rgba(0, 180, 202, 1);
}

main#main{
    /* background: linear-gradient(to bottom right, rgba(0, 255, 255, 0.7), rgba(0, 255, 255, 0.7), rgba(255, 20, 147, 0.7)); */
    /* background: linear-gradient(to bottom right,rgba(255, 20, 147, 0.7), rgba(255, 165, 0, 0.7) ); */
    /* background: linear-gradient(to bottom right,rgba(177, 81, 161, 0.7), rgba(57, 43, 134, 0.7) ); */
    /* background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(200, 200, 200, 0.9)); */
    /* background: rgba(150, 255, 255, 0.6); */
    /* background: rgba(255, 255, 255, 0.6); */
    background: #bbb;
    /* background: rgb(43, 169, 185);     */
    /* background: rgb(40, 156, 172); */
    /* background: rgb(35, 139, 153); */
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    overflow-y: scroll;
}

main#main::-webkit-scrollbar {
    width: 0px;
}

.clear{
    clear: both;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.flex{
    display: flex;
}